%h1 大仙市オープンデータ

%p
  このサイトでは
  = link_to '大仙市が公開しているオープンデータ', 'https://www.city.daisen.lg.jp/categories/zokusei/opendatedoc/', target: true
  を二次利用し
  = link_to '@gutskun', 'https://twitter.com/gutskun/', target: true
  が個人的に視覚化できるように試みているサイトです。<br />
  このサイトに関する事は大仙市に問い合わせない様にしてください。


.row
  .col
    %ul
      - @daisen_data.each do |k,v|
        %li= link_to k, "/viewer/#{k}"

!!!.row.row-cols-2.row-cols-lg-5.g-2.g-lg-3
!!!  - @daisen_data.each do |k,v|
!!!    .col
!!!      .card.h-100
!!!        .card-body
!!!          .card-title= link_to k, "/data_table/#{k}"
