%p
  このサイトでは自治体などか公開しているオープンデータを二次利用し
  = link_to '@gutskun', 'https://twitter.com/gutskun/', target: true
  が個人的に視覚化できるように試みています。<br />
  詳細は
  = link_to "このサイトについて", "/about"
  をご覧ください。<br />

!!!%h2= @node.name

= haml :_breadcrumb, locals: { parents: @node.parents }

%ul
- @node.children.each do |k, n|
  - if n.leaf?
    %li= link_to n.name, "/viewer#{n.path}"
  - else
    %li= link_to n.name, n.path


%p
!!!= haml :_breadcrumb, locals: { parents: @node.parents }
