= haml :_breadcrumb, locals: { parents: @node.parents }
%h2= @node.name

%ul
- @node.children.each do |k, n|
  - if n.leaf?
    %li
      %a{href: "/viewer#{n.path}"}
        = n.name
        - if n.entity.updated_at > Time.now - (31 * 24 * 60 * 60)
          %span.badge.rounded-pill.bg-success Updated

  - else
    %li= link_to n.name, n.path


%p
!!!= haml :_breadcrumb, locals: { parents: @node.parents }
