%h1= @entity.name

= haml :_breadcrumb, locals: { parents: @entity.node.parents }

- prev_node = @entity.node.prev_node
- next_node = @entity.node.next_node
.row
  .col-8

.row
  .col-5
  .col-2.text-end
    = link_to "< #{prev_node.name}", "/viewer#{prev_node.path}" if prev_node
  .col-2.text-start
    = link_to "#{next_node.name} >", "/viewer#{next_node.path}" if next_node
  .col-3.text-end
    更新日: #{@entity.updated_at.strftime('%Y/%m/%d')}
    &nbsp;
    確認日: #{@entity.checked_at.strftime('%Y/%m/%d')}
    &nbsp;
    = link_to haml(:_download_icon), @entity.url

%ul.nav.nav-tabs{id: 'data_viewer', role: 'tablist'}
  %li.nav-item{role: 'presentation'}
    %button{id: 'data-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link active", href: '#data'}
      データ

  %li.nav-item{role: 'presentation'}
    %button{id: 'graph-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#graph'}
      グラフ
  %li.nav-item{role: 'location'}
    %button{id: 'location-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#location'}
      位置

.tab-content.p-3
  #data.tab-pane.active
    = haml :_data_table, locals: { entity: @entity }
  #graph.tab-pane
    = haml :_graph, locals: { entity: @entity }
  #location.tab-pane
    = haml :_location

%p
  = haml :_breadcrumb, locals: { parents: @entity.node.parents }
