%h1= @kind

%p
  .row
    .col-2
      = link_to '一覧へ戻る', '/'
    .col-6
    .col-2.text-end
      = link_to "< #{@prev_kind}", "/viewer/#{@prev_kind}" if @prev_kind
    .col-2.text-end
      = link_to "#{@next_kind} >", "/viewer/#{@next_kind}" if @next_kind

%ul.nav.nav-tabs{id: 'data_viewer', role: 'tablist'}
  %li.nav-item{role: 'presentation'}
    %button{id: 'data-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link active", href: '#data'}
      データ

  %li.nav-item{role: 'presentation'}
    %button{id: 'graph-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#graph'}
      グラフ
  %li.nav-item{role: 'location'}
    %button{id: 'location-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#location'}
      位置

.tab-content.p-3
  #data.tab-pane.active
    = haml :_data_table
  #graph.tab-pane
    = haml :_graph
  #location.tab-pane
    = haml :_location

%p
  = link_to '一覧へ戻る', '/'
