%h1= @entity.name

%p
  .row
    .col-8
      .nav{'aria-label': 'breadcrumb'}
        %ol.breadcrumb
          - @entity.node.parents.each do |n|
            - unless @entity.node.parents.last == n
              %li.breadcrumb-item
                = link_to n.name, n.path
            - else
              %li.breadcrumb-item.active
                = n.name
    .col-2.text-end
      = link_to "< #{@prev_kind}", "/viewer/#{@prev_kind}" if @prev_kind
    .col-2.text-end
      = link_to "#{@next_kind} >", "/viewer/#{@next_kind}" if @next_kind

.row
  .col-6
  .col-6.text-end
    更新日: #{@entity.updated_at.strftime('%Y/%m/%d')}
    &nbsp;
    確認日: #{@entity.checked_at.strftime('%Y/%m/%d')}
    &nbsp;
    = link_to haml(:_download_icon), @entity.url

%ul.nav.nav-tabs{id: 'data_viewer', role: 'tablist'}
  %li.nav-item{role: 'presentation'}
    %button{id: 'data-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link active", href: '#data'}
      データ

  %li.nav-item{role: 'presentation'}
    %button{id: 'graph-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#graph'}
      グラフ
  %li.nav-item{role: 'location'}
    %button{id: 'location-tab', type: 'button', role: 'tab', 'data-bs-toggle': 'tab', class: "nav-link", href: '#location'}
      位置

.tab-content.p-3
  #data.tab-pane.active
    = haml :_data_table
  #graph.tab-pane
    = haml :_graph
  #location.tab-pane
    = haml :_location

%p
  = link_to '一覧へ戻る', '/'
